
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
*{
    max-width: 1920px;
    margin: 0;
    padding: 0;
    
    
}




    /* This is Navbar */

.navbar{
    
    align-items: center;
    display: flex;
    gap: 346px;
    margin: 0 auto;
    width: 85%;
    max-width: 1600px;
    
    
    margin-top: 16px;
}
.navbar img{
    width: 139px;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
    
    
}

.navbar .navigations ul{
    display: flex;
    color: black;
    width: 364px; 
    gap: 32px;
    
}
.navbar .navigations li{
    
    list-style: none;
    color: black;
    font-size: 16px;
}
.navbar .navigations li a{
    text-decoration: none;

}
.navigations li:hover{

    background-color: bisque;
}


header .buton .btn{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    background-color: #469165;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 24px;
}
/* thi is banner section */
#banner{
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner-container{
    max-width: 1360px;
    width: 85%;
    margin: 0px auto;
   
    text-align: center;
    padding-bottom: 290px;
    padding-top: 226px;
    
}

#banner .banner-container .banner-btn{
    color: #469165;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 1000px;
     
}


#banner .content .first{

   color: #FFFFFF ;
   font-size: 72px;
   font-weight: bold;
   
}
#banner .content .second{
    color: #30B868;
    font-size: 72px;
   font-weight: bold;
}
#banner .content p{
    color: #ffffff;
    margin-top: 16px;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0%;
    
}
#banner .banner-container .btn{
    width: 251px;
    height: 52px;
    margin-right: 16px;
    background-color: #469165;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 32px;
}

#banner .banner-container .bts{
    width: 198px;
    height: 52px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
}

/* this is notes section  */

#Notes-section{
    max-width: 1360px;
    width: 85%;
    margin: 0px auto;
    gap: 24px;
    text-align: center;
    height: 448px;
   
}
#Notes-section .title h1{
    font-size: 48px;
    font-weight: bold;
    
}
#Notes-section .title{
    width: 1360px;
    height: 152px;
    

}
#Notes-section .title p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

#Notes-section .notes{
    display: flex;
    margin-top: 44px;
    align-items: center;
   
    gap: 24px;
    align-items: center;
    justify-content: center;
   
    
}

   
    

#Notes-section .notes .image{
    width: 60px;
    height: 60px;
  
     padding-left: 131px; 
     padding-right: 131px; 
     margin-top: 60px;
 
}

#Notes-section .notes .image img{
    background-color: #F95555;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 14.4px 13.91px 13.96px 14.09px;
    object-fit: contain;
   
}
#Notes-section .notes .description h2{
    font-size: 24px;
    margin-top: 16px;
}

#Notes-section .notes .description p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 21px;
}

.note-sections{
   
    width: 322px;
    height: 300px;
   padding:24px;
   box-shadow: 0px 0px 8px 0px;
   border-radius: 8px;
}

/* This is Brain section  */
#brain-section{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    

}
#brain-section .brain{
    display: flex;
    margin-top: 240px;
    gap: 60px;
    justify-content: center;
    
    
    
}
#brain-section .brain .brain-image img{
    width: 600px;
    height: 600px;
}

.brain-container .captions .title{
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}

#brain-section .brain-container h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
#brain-section .brain-container .contents{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}


#brain-section .brain .points ul li{
    list-style: none; 
    margin-bottom: 16px;
    
}

#brain-section .brain .brain-container{
    margin-top: 102px;
}
#brain-section .points img{
    width: 16.25px;
    height: 16.25px;
}